.edit-permissions{
    .boxes{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        label{
            display: flex;
            gap: .5rem;
            
        }
    }
}