/* Global Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 2rem; 
  text-align: center;
}

/* Specific Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background-light);
}

.read-the-docs {
  color: #888;
  font-size: 1rem;
  line-height: 1.5;
}

/* Container Styles for Pages */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px); /* Adjust based on header and footer height */
  margin-top: 80px; /* Adjust based on topbar height */
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-color);
}
